<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.FavoriteMapper">

    <!--favorite的映射结果集-->
    <resultMap type="com.share.entity.Favorite" id="FavoriteMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="materialId" column="material_id" jdbcType="INTEGER"/>
    </resultMap>
    
    <!--全部字段-->
    <sql id="allColumn"> id, user_id, material_id </sql>
    
    <!--添加语句的字段列表-->
    <sql id="insertColumn">
        <if test="userId != null">
                user_id,
        </if>
        <if test="materialId != null">
                material_id,
        </if>
    </sql>
    
    <!--添加语句的值列表-->
        <sql id="insertValue">
        <if test="userId != null">
                #{userId},
        </if>
        <if test="materialId != null">
                #{materialId},
        </if>
    </sql>
    
    <!--通用对Favorite各个属性的值的非空判断，Insert、Update使用-->
    <sql id="commonsValue">
        <if test="userId != null">
                user_id = #{userId},
        </if>
        <if test="materialId != null">
                material_id = #{materialId},
        </if>
    </sql>
    
        <!--通用对Favorite各个属性的值的非空判断,Where查询使用-->
    <sql id="commonsQuery">
        <if test="userId != null">
                and user_id = #{userId}
        </if>
        <if test="materialId != null">
                and material_id = #{materialId}
        </if>
    </sql>
    
    <!--新增favorite:哪个字段不为空就添加哪列数据,返回自增主键-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into favorite
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertColumn"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="insertValue"/>
        </trim>
    </insert>
   
    <!--删除favorite:通过主键-->
    <delete id="deleteById">
        delete from favorite
        <where>
            id = #{id}
        </where>
    </delete>
    
    <!--查询单个favorite-->
    <select id="getById" resultMap="FavoriteMap">
        select
        <include refid="allColumn"></include>
        from favorite
        <where>
            id = #{id}
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="listFavorites" resultMap="FavoriteMap">
        select
          <include refid="allColumn"></include>
        from favorite
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commonsQuery"></include>
        </trim>
    </select>

    <!--获取用户收藏的素材-->
    <select id="listFavoriteMaterial" resultType="com.share.entity.Material">
        select * from material
        left join favorite on favorite.material_id = material.id
        where favorite.user_id = #{uId} and material.status = 1 and material.is_checked = 1
        order by favorite.id desc
    </select>

    <!--通过主键修改数据-->
    <update id="update">
        update favorite
        <set>
            <include refid="commonsValue"></include>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

</mapper>