<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.KindMapper">

    <!--kind的映射结果集-->
    <resultMap type="com.share.entity.Kind" id="KindMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
    </resultMap>
    
    <!--全部字段-->
    <sql id="allColumn"> id, name, count </sql>
    
    <!--添加语句的字段列表-->
    <sql id="insertColumn">
        <if test="name != null and name != ''">
                name,
        </if>
        <if test="count != null">
                count,
        </if>
    </sql>
    
    <!--添加语句的值列表-->
        <sql id="insertValue">
        <if test="name != null and name != ''">
                #{name},
        </if>
        <if test="count != null">
                #{count},
        </if>
    </sql>
    
    <!--通用对Kind各个属性的值的非空判断，Insert、Update使用-->
    <sql id="commonsValue">
        <if test="name != null and name != ''">
                name = #{name},
        </if>
        <if test="count != null">
                count = #{count},
        </if>
    </sql>
    
        <!--通用对Kind各个属性的值的非空判断,Where查询使用-->
    <sql id="commonsQuery">
        <if test="name != null and name != ''">
                and name = #{name}
        </if>
        <if test="count != null">
                and count = #{count}
        </if>
    </sql>
    
    <!--新增kind:哪个字段不为空就添加哪列数据,返回自增主键-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into kind
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertColumn"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="insertValue"/>
        </trim>
    </insert>
   
    <!--删除kind:通过主键-->
    <delete id="deleteById">
        delete from kind
        <where>
            id = #{id}
        </where>
    </delete>
    
    <!--查询单个kind-->
    <select id="getById" resultMap="KindMap">
        select
        <include refid="allColumn"></include>
        from kind
        <where>
            id = #{id}
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="listKinds" resultMap="KindMap">
        select
          <include refid="allColumn"></include>
        from kind
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commonsQuery"></include>
        </trim>
    </select>

    <!--通过主键修改数据-->
    <update id="update">
        update kind
        <set>
            <include refid="commonsValue"></include>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

</mapper>